{% include 'base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/css/index.css' %}">
{% endblock %}

{% block body_main %}
<div class="container">
    <h2>Create new card</h2>
    <form method="post">{% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}

{% block footer_javascript_site %}
<script src="{% static 'flashcards/js/card_form.js' %}" type="text/javascript"></script>
{% endblock %}
