{% include 'base.html' %}
{% load static %}


{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/css/style.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'flashcards/css/index.css' %}"> -->
{% endblock %}

{% block body_main %}
<a id="vflashcards">
    <div class="container">
        <section class="flip-card flashcards">
        <div class="flashcard-inner" id="flashcard" v-bind:class="{'rotate-card': flipped}">
            <div class="flashcard-front" id="flashcard-front">
                <form id="card-form" action="{% url 'flashcards:answer' set_id %}" method="post" autocomplete="off">
                    <h1> [[front_word]] </h1>
                    {% csrf_token %}
                    <input type="text" v-model="answer_text">
                    <input class="btn-primary" type="submit" value="Submit" id="submit">
                </form>
                {% if wrong_answer %}
                    <div class="alert alert-danger" role="alert">
                        <p><strong>{{ wrong_answer }}</strong></p>
                    </div>
                {% endif %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            <div class="flashcard-back" id="flashcard-back">
                <form id="next-card-form" action="{% url 'flashcards:next_card' set_id %}" method="post">
                    <h1> [[back_word]] </h1>
                    <input class="btn-primary" type="submit" value="Next" id="submit">
                </form>
            </div>
            </div>
        </section>
        <input type="number" v-model="card_id" hidden></input>
    </div>
</a>

{% endblock %}

{% block footer_javascript_site %}
<script src="{% static 'flashcards/js/flashcards.js' %}" type="text/javascript"></script>
{% endblock %}
