{% include 'base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/css/index.css' %}">
{% endblock %}

{% block body_main %}
  <div class="container">
    <h2>Cards</h2>
    <ul class="list-group">
    {% if cards %}
      {% for card in cards %}
      <li class="list-group-item"><a href="{% url 'flashcards:card_view' card.id %}">{{ card.language_word }}</a></li>
      {% endfor %}
    {% else %}
    <p>No cards are available.</p>
    {% endif %}
  </ul>

    <div class="btn-bottom">
      <form action="{% url 'flashcards:create_card' set_id %}">
        <input type="submit" value="Create" />
    </form>
    <form action="{% url 'flashcards:word_search' set_id %}">
      <input type="submit" value="Word Search" />
    </form>
    
    </div>
  </div>
{% endblock body_main %}