{% include 'base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'flashcards/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body_main %}
<div class="container">
  <h2>Cards</h2>
  <div>
    <ul class="list-group">
    {% if cards %}
      {% for card in cards %}
      <li class="list-group-item"><a href="{% url 'flashcards:update_card' set_id=set_id pk=card.id %}">{{ card.language_word }}</a></li>
      {% endfor %}
    {% else %}
    <p>No cards are available.</p>
    {% endif %}
  </ul>
</div>

<div class="btn-bottom">
  <div class="row">
    <div class="col-4">
      <form action="{% url 'flashcards:cards_start' set_id %}">
          <input type="submit" value="Start" class="btn btn-dark"/>
        </form>
      </div>
    <div class="col-4">
    <form action="{% url 'flashcards:create_card' set_id %}">
        <input type="submit" value="Create" class="btn btn-dark"/>
      </form>
    </div>
  <div class="col-4">
    <form action="{% url 'flashcards:word_search' set_id %}">
        <input type="submit" value="Word Search" class="btn btn-dark"/>
    </form>
  </div>
</div>
</div>
{% endblock body_main %}